@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb      : 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb  : 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb      : 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb  : 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.cursor {
  height     : 50px;
  width      : 50px;
  border     : .5px solid rgb(245, 245, 245);
  font-family: brook;
}

.pointer {
  height    : 8px;
  width     : 8px;
  background: rgb(245, 245, 245);
  top       : -4px;
  left      : -4px;
  transition: all .05s ease;
}

#preloader {
  height         : 100vh;
  width          : 100%;
  background     : #050505;
  overflow       : hidden;
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : column;
  position       : fixed;
  z-index        : 100;
  color          : rgb(240, 240, 240);
}

.p {
  font-family    : monument;
  font-size      : 14px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : column;
  opacity        : .7;
}

#header {
  height             : 100vh;
  width              : 100%;
  overflow           : hidden;
  color              : rgb(240, 240, 240);
  font-weight        : 200;
  font-family        : Josefin sans;
  font-weight        : bolder;
  background         : url(/images/pokemon-world.jpg);
  /*HEADER BACKGROUND IMAGE*/
  background-position: center;
  background-size    : cover;
}

.navigation {
  width      : 100%;
  position   : fixed;
  font-family: Josefin sans;
  left       : 0;
  top        : 0;
  z-index    : 3;
  padding    : 20px;
  font-size  : 20px;
}

.menu-bar {
  position       : absolute;
  right          : 5%;
  top            : 100%;
  cursor         : pointer;
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : row;

  &-line {
    width     : 30px;
    height    : 3px;
    opacity   : 0;
    background: rgb(240, 240, 240);
    position  : relative;
    margin    : 3px;
  }
}

.logo {
  position   : absolute;
  font-weight: 200;
  left       : 4%;
  z-index    : 2;
  top        : 100%;
}

.hover {
  opacity   : .8;
  transition: all .4s ease;
  cursor    : pointer;

  &:hover {
    opacity: 1;
  }
}

.text,
.text-scroll {
  color     : transparent;
  display   : inline-block;
  position  : relative;
  overflow  : hidden;
  transition: 0.8s;

  &.reveal {
    color    : rgb(240, 240, 240);
    animation: revealTextAnimation 0.80s ease forwards;

    &:before {
      background: rgb(240, 240, 240);
      animation : blockRevealAnimation 1.2s ease forwards;
    }
  }

  &:before {
    content : "";
    position: absolute;
    top     : 0;
    width   : 100%;
    height  : 100%;
    z-index : 5;
  }
}

.opacity {
  opacity: .8;
}

.social-media-links {
  position       : fixed;
  left           : 0;
  top            : 0;
  height         : 100vh;
  width          : 11%;
  font-family    : josefin sans;
  display        : flex;
  align-items    : center;
  font-weight    : 200;
  justify-content: center;
  font-size      : 20px;
  z-index        : 2;
}

.social-media-links,
.social-media-links-navigation {
  ul {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;

    li {
      padding   : 15px;
      list-style: none;
      font-size : 20px;
    }
  }
}

.img,
.img-scroll {
  position: relative;
  display : inline-block;
  overflow: hidden;
  width   : auto;
  height  : auto;

  img {
    width  : auto;
    opacity: 0;
  }

  &:before {
    content : "";
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    z-index : 2;
  }

  &.reveal {
    img {
      animation: revealImgAnimation 0.8s ease forwards;
    }

    &:before {
      background: rgb(240, 240, 240);
      animation : blockRevealAnimation 1.2s ease forwards;
    }
  }
}


.headphone {
  position: fixed;
  left    : 4%;
  bottom  : 3%;
}

.navigation-content {
  position  : fixed;
  background: #050505;
  height    : 100vh;
  width     : 100%;
  left      : 0;
  z-index   : 10;
  top       : 0;
  transform : translateY(100%);

  .navigation-ul {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 100%;
    flex-direction : column;

    li {
      padding: 10px;
      opacity: 0;

      a {
        color      : rgb(240, 240, 240, .6);
        font-size  : 50px;
        font-weight: 200;
        font-family: camel;
        transition : all .4s ease;
        z-index    : 3;
        position   : relative;
        overflow   : hidden;
        display    : block;

        &:after {
          content    : attr(data-text);
          opacity    : 1;
          position   : absolute;
          font-size  : inherit;
          font-weight: inherit;
          width      : 0%;
          height     : 100%;
          overflow   : hidden;
          left       : 0;
          color      : rgb(240, 240, 240);
          top        : 0%;
          transition : all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.navigation-close {
  padding    : 20px;
  padding-top: 0px;
  position   : absolute;
  right      : 5%;
  top        : 5%;
  cursor     : pointer;

  &-line {
    height       : 22px;
    width        : 2px;
    border-radius: 10px;
    background   : rgb(245, 245, 245);
    position     : absolute;
    transform    : rotate(-45deg);

    &:nth-child(2) {
      transform: rotate(45deg);
    }
  }
}

.project-preview {
  position       : fixed;
  pointer-events : none;
  width          : 200px;
  height         : 200px;
  z-index        : 1;
  background     : no-repeat 50% 50%;
  background-size: cover;
  overflow       : hidden;
  transition     : background .5s cubic-bezier(0.84, 0, 0.08, 0.99);
  top            : -100px;
  left           : -0px;
}

@keyframes revealImgAnimation {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: .9;
  }
}

@keyframes blockRevealAnimation {
  0% {
    left: -100%;
  }

  40% {
    left: 0;
  }

  60% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

@keyframes revealTextAnimation {
  0% {
    color: transparent;
  }

  40% {
    color: transparent;
  }

  60% {
    color: inherit;
  }
}

@media all and (max-width: 675px) and (min-width: 0px) {
  .social-media-links {
    width    : 15%;
    font-size: 18px;
  }

  .headphone {
    z-index: 2;
  }
}